.navbar-container{
  background-color: black;
  color: white;
  font-weight: 700;
  .navbar-brand{
    color: white;

  }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;

  }
}
