.navbar-container{
  background-color: black;
  background:rgba(255,255,255,0.9);
  color: white;
  font-weight: 700;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  .navbar-brand{
    color: white;
  }
.navbar-header>a:hover{
  color: #555;
  background-color: #e7e7e7;
}
}
