.navbar.navbar-default.bs-dos-nav.navbar-fixed-top.sticky-navigation(role='navigation')
   .container
      .navbar-header
         button.navbar-toggle(data-toggle='collapse', data-target='#rock-navigation')
            span.icon.icon-bar
            span.icon.icon-bar
            span.icon.icon-bar
         a.navbar-brand(href='#') 琪安科技
      nav#rock-navigation.collapse.navbar-collapse
         ul.nav.navbar-nav.navbar-right.main-navigation.text-uppercase
            li
               a.smoothScroll(href='#home') 首页
            li
               a.smoothScroll(href='#work') 服务
            li
               a.smoothScroll(href='#portfolio') 案例
            li
               a.smoothScroll(href='#resume') 简介
            li
               a.smoothScroll(href='#about') 关于
            li
               a.smoothScroll(href='#contact') 联系我们

// END NAVIGATION
// START HOME
section#home.templatemo-home
   .container
      .row
         .col-md-2.col-sm-1
         .col-md-8.col-sm-10
            h1.tm-home-title
               strong 琪安
            h2.tm-home-subtitle 优质软件服务提供商
            p
               | I am a professional
               strong UX Designer
               |  and
               strong Front-End Developer
               |  creating modern and responsive designs for
               strong Web
               |  and
               strong Mobile
               | . Let us work together. Thank you.
            a.btn.btn-default.smoothScroll.tm-view-more-btn(target='_blank', href='http://wpa.qq.com/msgrd?v=3&uin=517064899&site=qq&menu=yes') Let's Begin
         .col-md-2.col-sm-1
// END HOME
// START work
section#work.tm-padding-top-bottom-100
   .container
      .row
         .col-md-offset-1.col-md-11
            h2.title
               //|
               strong 服务
         .col-md-4.col-sm-4
            .work-wrapper
               i.fa.fa-link
               h3.text-uppercase.tm-work-h3 Mobile UX
               hr
               p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna.
         .col-md-4.col-sm-4
            .work-wrapper
               i.fa.fa-flash
               h3.text-uppercase.tm-work-h3 Web Design
               hr
               p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna.
         .col-md-4.col-sm-4
            .work-wrapper
               i.fa.fa-dashboard
               h3.text-uppercase.tm-work-h3 HTML Templates
               hr
               p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna.
// END work
.copyrights
   | Collect from
   a(href='http://www.cssmoban.com/') 手机网站模板
// START PORTFOLIO
section#portfolio.tm-portfolio
   .container
      .row
         .col-md-12.wow.bounce
            .title
               h2.tm-portfolio-title
                  //|
                  strong 案例
            // START ISO SECTION
            .iso-section
               ul.filter-wrapper.clearfix
                  li
                     a.opc-main-bg.selected(href='#', data-filter='*') All
                  li
                     a.opc-main-bg(href='#', data-filter='.html') HTML
                  li
                     a.opc-main-bg(href='#', data-filter='.photoshop') Photoshop
                  li
                     a.opc-main-bg(href='#', data-filter='.wordpress') Wordpress
                  li
                     a.opc-main-bg(href='#', data-filter='.mobile') Mobile
               .iso-box-section
                  .iso-box-wrapper.col4-iso-box
                     .iso-box.html.photoshop.wordpress.mobile.col-md-3.col-sm-3.col-xs-12
                        .portfolio-thumb
                           img.fluid-img(src='../assets/images/portfolio-img1.jpg', alt='portfolio img')
                           .portfolio-overlay
                              h3.portfolio-item-title UX Design
                              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                     .iso-box.html.wordpress.mobile.col-md-3.col-sm-3.col-xs-12
                        .portfolio-thumb
                           img.fluid-img(src='../assets/images/portfolio-img2.jpg', alt='portfolio img')
                           .portfolio-overlay
                              h3.portfolio-item-title UX Design
                              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                     .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                        .portfolio-thumb
                           img.fluid-img(src='../assets/images/portfolio-img3.jpg', alt='portfolio img')
                           .portfolio-overlay
                              h3.portfolio-item-title UX Design
                              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                     .iso-box.html.mobile.col-md-3.col-sm-3.col-xs-12
                        .portfolio-thumb
                           img.fluid-img(src='../assets/images/portfolio-img4.jpg', alt='portfolio img')
                           .portfolio-overlay
                              h3.portfolio-item-title UX Design
                              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                     .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                        .portfolio-thumb
                           img.fluid-img(src='../assets/images/portfolio-img5.jpg', alt='portfolio img')
                           .portfolio-overlay
                              h3.portfolio-item-title UX Design
                              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                     .iso-box.html.photoshop.col-md-3.col-sm-3.col-xs-12
                        .portfolio-thumb
                           img.fluid-img(src='../assets/images/portfolio-img6.jpg', alt='portfolio img')
                           .portfolio-overlay
                              h3.portfolio-item-title UX Design
                              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                     .iso-box.photoshop.col-md-3.col-sm-3.col-xs-12
                        .portfolio-thumb
                           img.fluid-img(src='../assets/images/portfolio-img7.jpg', alt='portfolio img')
                           .portfolio-overlay
                              h3.portfolio-item-title UX Design
                              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                     .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                        .portfolio-thumb
                           img.fluid-img(src='../assets/images/portfolio-img8.jpg', alt='portfolio img')
                           .portfolio-overlay
                              h3.portfolio-item-title UX Design
                              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
// END PORTFOLIO
// START RESUME
section#resume.tm-padding-top-bottom-100
   .container
      .row
         .col-md-6.col-sm-6
            h2.title
               | My
               strong Profile
            p
               span.tm-info-label Name
               |  John White
            p
               span.tm-info-label Birthday
               |  December 24, 1996
            p
               span.tm-info-label Address
               |  Melbourne Victoria 3000 Australia
            p
               span.tm-info-label Phone
               |  +001 020 0340 | 009 080 0760
            p
               span.tm-info-label Email
               |  hello@company.com
            p
               span.tm-info-label Website
               a.tm-red-text(href='#') www.company.com
         .col-md-6.col-sm-6
            h2.title
               strong Some
               |  Skills
            p
               | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
            h4.tm-progress-label
               | Bootstrap
               small.progress-percent-small 100%
            .progress.tm-progress
               .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
            h4.tm-progress-label
               | HTML5
               small.progress-percent-small 90%
            .progress.tm-progress
               .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%;')
            h4.tm-progress-label
               | SEO
               small.progress-percent-small 80%
            .progress.tm-progress
               .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
// END RESUME
// START ABOUT
section#about.tm-about
   .container
      .row
         .col-md-offset-6.col-md-6.col-sm-offset-6.col-sm-7
            .title
               h2
                  | This is
                  strong me
               h1.tm-red-text
                  | Creative
                  strong Director
            p
               | This is free Bootstrap v3.3.4 mobile friendly layout from
               a(rel='nofollow', href='http://www.cssmoban.com', target='_parent') templatemo
               | . Feel free to use it for your website. Credit goes to
               a(rel='nofollow', href='http://pixabay.com', target='_blank') Pixabay
               |  for photos used in this template. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
            p
               | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
// END ABOUT
// START SOCIAL
section#social.tm-social
   .container
      .row
         .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.3s')
            .media.facebook
               a(href='#')
                  .media-object.pull-left
                     i.fa.fa-facebook
                  .media-body
                     h4.media-heading.tm-social-title Follow me on
                     h3 Social Facebook
         .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.6s')
            .media.twitter
               a(href='#')
                  .media-object.pull-left
                     i.fa.fa-twitter
                  .media-body
                     h4.media-heading.tm-social-title Tweet me on
                     h3 Social Twitter
         .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.9s')
            .media.pinterest
               a(href='#')
                  .media-object.pull-left
                     i.fa.fa-pinterest
                  .media-body
                     h4.media-heading.tm-social-title Pin me on
                     h3 Social Pinterest
// END SOCIAL
// START CONTACT
section#contact.tm-contact
   .container
      .row
         .col-md-12
            h2.title
               | Drop
               strong me a line
            hr
         .col-md-1.col-sm-1
         .col-md-10.col-sm-10
            form(action='#', method='post')
               .col-md-6.col-sm-6
                  input.form-control(type='text', placeholder='Your Name')
               .col-md-6.col-sm-6
                  input.form-control(type='email', placeholder='Your Email')
               .col-md-12.col-sm-12
                  input.form-control(type='text', placeholder='Your Subject')
                  textarea.form-control(placeholder='Your Message', rows='6')
               .col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8
                  input.form-control(type='submit', value='SHOOT MESSAGE')
         .col-md-1.col-sm-1
         .col-md-12.col-sm-12

