.banner
    .swiper-container
      .swiper-wrapper
        .swiper-slide(ng-repeat='img in bannerImage',data-repeat-done='onBannerUpeded()')
          a(ng-style='img.bg',ng-click='go($index)')
      .spaceBG
      .slogan
        .txt1 从校园到企业的培训专家
        .txt2 知新实训课堂
        .txt3 From the campus to the enterprise training experts
      a.btn.btn-primary(ui-sref='index.signin') 开始学习
      .swiper-pagination
        div.content

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in $ctrl.awesomeThings')
        li
          a(href='#', uib-tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='$ctrl.deleteThing(thing)') &times;

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='$ctrl.newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='$ctrl.addThing()') Add New
